dist/
plots/
__pycache__/
ava/__pycache__/
ava/models/__pycache__/
ava/plotting/__pycache__/
ava/preprocessing/__pycache__/
ava/data/
build/
docs/build/
ava/segmenting/__pycache__/
AVA_Autoencoded_Vocal_Analysis.egg-info
*.pdf
*.png
*.jpg
*.npy
*.pyc
*.sh
