dist/
build/
assets/
dist/
plots/
__pycache__/
ava/__pycache__/
ava/models/__pycache__/
ava/plotting/__pycache__/
ava/preprocessing/__pycache__/
ava/data/
ava/segmenting/__pycache__/
ava/docs/build/
ava/docs/source/_static/
ava/docs/source/_templates/
*.pdf
*.png
*.jpg
*.npy
*.pyc
*.sh
*.txt
